@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --color0: hsl(0, 0%, 100%);
    --color1: hsl(212, 45%, 89%);
    --color2: hsl(216, 15%, 48%);
    --color3: hsl(218, 44%, 22%);
    --font: 'Outfit', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;;
}

body {
    background-color: var(--color1);
    font-size: 15px;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    background-color: var(--color0);
    width: 320px;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.062);
    border-radius: 20px;
}

img {
    width: 288px;
    height: 288px;
    margin-top: 15px;
    border-radius: 10px;
}

h1 {
    color: var(--color3);
    margin-block: 20px;
    font-size: 1.375rem;
    width: 280px;
    font-weight: bold;
    line-height: 120%;
}

p {
    color: var(--color2);
    font-size: 0.938rem;
    width: 260px;
    font-weight: 400;
    line-height: 140%;
}